# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual environment
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# Testing / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checking
.mypy_cache/
.pytype/
.pyright/

# Lint
.ruff_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
